.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 305px;
}

.listElement {
  box-sizing: border-box;
  position: relative;
  left: -2px;
  height: 36px;
  width: 260px;
  display: flex;
  align-items: center;
  margin: 5vh 0;

  &:first-child {
    width: 305px;
  }
}

@media only screen and (max-width: 1024px) {
  .listElement,
  .list {
    width: 100%;
  }

  .listElement {
    height: 45px;
    width: calc(100% - 14px);
    margin-left: auto;
    margin-right: auto;
    left: 0;

    &:first-child {
      width: calc(100% - 14px);
    }
  }

}
