.loaderBackground {
  position: absolute;
  top: 0;
  width: 100%;
  background: #ffffff;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 6px solid #dadada;
  border-top: 6px solid #ffa800;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}