.fade-bg-leave {
  opacity: 1;
}
.fade-bg-leave.fade-bg-leave-active {
  opacity: 0;
  transition: opacity .4s ease-in;
}

.fade-bg-enter {
  opacity: 0.5;
}
.fade-bg-enter.fade-bg-enter-active {
  opacity: 1;
  /* Delay the enter animation until the leave completes */
  transition: opacity .4s ease-out .6s;
}

.fade-bg-height {
  transition: height .6s ease-in-out;
}
