.backlogBox {
  height: 60%;
  width: 80%;
  background: rgba(0,0,0,0.8);
  border: 4px double #ffffff;
}

.backlogList {
  height: 100%;
  overflow: auto;
  margin: 0;
  list-style-type: none;
  font-size: 3.4rem;
  padding: 30px 5%;
  box-sizing: border-box;
}

.backlogWrapper {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
