.infoBox {
  border: 2px solid;
  background: #ffffff;
  width: 80%;
  min-height: 80%;
  box-sizing: border-box;
  padding: 7% 5%;
  z-index: 1;
  min-width: 500px;
  font-size: 2.2rem;
  max-width: 800px;

  ul {
    list-style: none;
    margin: 0 0 15px 0;
    padding: 0;
  }

  li {
    padding-left: 3%;
    margin: 7px 0;
    text-indent: -.7em;
  }

  li::before {
    content: "•";
    margin-right: 7px;
    color: #ffa800;
    font-family: sans-serif;
  }

  h1, h2 {
    margin: 0 0 2% 0;
    font-weight: 400;
    font-size: 2.4rem;
  }

  section {
    font-size: 1.8rem;
  }

}

.description {
  margin: 15px 0;
}

.techStack, .address {
  font-weight: 400;
  font-size: 2rem;
}

@media only screen and (max-width: 1024px) {
  .infoBox {
    width: 90%;
    padding: 5%;
  }
}

@media only screen and (max-width: 768px) {
  .infoBox {
    margin: 90px 0;
    padding-top: 30px;
    padding-bottom: 30px;
    min-width: 0;
  }
}
