.infoBox {
  border: 2px solid;
  background: #ffffff;
  width: 60%;
  height: 80%;
  box-sizing: border-box;
  padding: 7% 5%;
  font-size: 1.8rem;
  z-index: 1;
  min-width: 500px;
}

@media only screen and (max-width: 1200px){
  .infoBox {
    width: 80%;
  }
}
