.singleProject {
  display: flex;
  box-sizing: border-box;
  margin: 20px auto;
  border: 1px solid black;
  padding: 25px 20px;
  width: calc(50% - 20px);
}

.imageContainer {
  height: 150px;
  width: 200px;
  position: relative;
  border: 1px solid black;
  order: 2;
  margin-left: 10px;
}

.details {
  width: 100%;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 2.6rem;
  font-weight: 400;
}

.date {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 400;
}

.url {
  font-size: 2rem;
}

.link:visited {
  color: #B35C00;
}

.description {
  font-size: 1.6rem;
  margin-top: 6px;
}

.image {
  height: 150px;
  width: 200px;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 150px;
}

@media only screen and (max-width: 1600px) {
  .singleProject {
    width: calc(100% - 40px);
  }
}

@media only screen and (max-width: 1024px) {
  .singleProject {
    width: 100%;
    border-left: 0;
    border-right: 0;
  }

  .date {
    font-size: 1.4rem;
  }

  .title {
    font-size: 2.2rem;
  }

  .url {
    font-size: 1.8rem;
  }

  .description {
    font-size: 1.5rem;
  }
}


@media only screen and (max-width: 640px) {
  .singleProject {
    width: calc(100% - 20px);
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    flex-direction: column;
  }

  .imageContainer {
    margin: 0;
    align-self: center;
  }

  .url {
    text-align: center;
  }

  .description {
    text-align: center;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 380px) {
  .singleProject {
    width: 100%;
    border-left: 0;
    border-right: 0;
  }
}
