.sideBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  background: #343434 url('../../resources/images/menu_bg.jpg') no-repeat center center;
  background-size: 100% 100%;
}
